* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

body {
  background-color: #eeeeee;
  margin: 0 auto;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 150px;
}
.navigation-container {
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  left: -5px;
  background-color: white;
  padding: 20px 50px;
}
.navigation-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.--top li {
  display: flex;
  white-space: nowrap;
  padding: 5px;
}
.--top li span {
  margin-left: 10px;
}
.--top li span:hover {
  cursor: pointer;
}
.--top a {
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: grey;
  font-size: 0.8em;
  line-height: 30px;
}
.navigation-list img {
  height: 30px;
}
.navigation-left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation-right {
  flex-basis: 30%;
  height: 100%;
}
.navigation-item {
  padding: 10px 10px 0 10px;
}
.navigation-item a {
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(128, 128, 128);
  font-weight: bold;
  white-space: nowrap;
}
.navigation-item a:hover {
  color: rgba(128, 128, 128, 0.8);
}
.navigation-item a:hover img {
  filter: brightness(120%);
}
.navigation-item img {
  width: 20px;
  height: 20px;
}
.navigation-logo {
  object-fit: contain;
  width: 100%;
}
#date {
  padding-left: 10px;
  font-weight: bold;
  color: grey;
  font-size: 1.2em;
}
h3,
h4 {
  color: #e74c3c;
  margin-bottom: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
.top-section-container {
  display: flex;
  max-height: 700px;
  margin-bottom: 20px;
  background-color: white;
}
.top-section {
  flex-basis: 60%;
  overflow: hidden;
  padding: 5px;
}
.top-section article {
  background-color: #f8f8f8;
}
.aside-left,
.aside-right {
  flex-basis: 20%;
  max-height: 100%;
  text-overflow: clip;
  overflow: scroll;
  overflow-x: hidden;
}
.aside-left-title {
  padding: 5px;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: initial;
  color: black;
  font-weight: initial;
}
.aside-left-text {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}
.closed {
  display: none !important;
}
.active {
  color: red !important;
}
.aside-left-text-container,
.aside-right-content {
  padding-left: 15px;
}
.aside-right-content div {
  margin-bottom: 10px;
  background-color: #f8f8f8;
}
.aside-right-buttons {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  cursor: pointer;
  margin-top: 0;
}
.section-title {
  color: #e74c3c;
  padding: 10px 0 10px 0;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #e74c3c;
}
.aside-right-buttons li {
  font-size: 1.2em;
  padding: 5px;
  color: black;
}
.main-article {
  width: 100%;
  height: 400px;
  display: flex;
  margin-bottom: 5px;
}
.main-article-content {
  width: 40%;
}
.article-img {
  height: 100%;
}
.article-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bottom-articles-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.bottom-articles {
  flex-basis: 33.33%;
  height: 100%;
  padding: 5px;
}
.bottom-articles div img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.bottom-articles p {
  text-overflow: ellipsis;
}
.middle-section-container {
  margin-bottom: 20px;
  background-color: white;
}
.middle-section {
  display: flex;
}
.middle-section article {
  flex-basis: 33%;
  padding: 5px;
}
.middle-section-img-container {
  width: 100%;
  max-height: 200px;
}
.middle-section-img-container img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.bottom-section-container {
  margin-bottom: 20px;

  background-color: white;
}
.bottom-section {
  display: flex;
}
.footer-navigation img {
  width: 25%;
}
.footer-navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 0;
}
.footer-navigation ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.footer-navigation ul a:hover {
  color: grey;
}
footer {
  margin: 0 auto;
  width: 75%;
}
.footer-contact {
  display: flex;
}
.footer-contact h2 {
  color: #e74c3c;
}
.footer-contact-left {
  flex-basis: 50%;
}
.footer-contact-right {
  flex-basis: 50%;
  display: flex;
}
address {
  font-style: normal;
}
.address-navigation {
  flex-basis: 50%;
}
.address-navigation ul {
  list-style-type: none;
  padding-left: 0;
}
.address-navigation a {
  text-decoration: none;
  color: grey;
}
.address-search {
  flex-basis: 50%;
}
.address-search-input {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.address-search-input input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
}
.address-search-input button {
  padding: 0 15px 0 15px;
  color: white;
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.address-search-input button:hover {
  background-color: white;
  color: #e74c3c;
}
.address-search-social {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.address-contact {
  display: flex;
  flex-wrap: wrap;
}
.address-contact h2 {
  flex-basis: 100%;
}
.address-contact-left {
  flex-basis: 50%;
}
.address-contact-right {
  flex-basis: 50%;
}
